.status-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.new-prescription-btn {
    background-color: #5DCAA9;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
    border-radius: 5px;
    width: 20%;
    align-self: center;
    margin-top: 30px;
    text-decoration: none;
}

.heads{
    font-size: 30px;  
    font-family: "FSMeLight"; 
    margin-right: 20px;
    margin: 20px;
    cursor: pointer;
  }

  .head{
    font-size: 30px;  
    font-family: "FSMeLight"; 
    margin-right: 20px;
    margin: 20px;
    cursor: pointer;
  }


.new-prescription-btn:hover {
    background-color: #3c866f;
}

.status-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.status-table {
    width: 90%;
    height: auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.status-table th {
    background: #5DCAA9;
    color: white;
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
}

.status-table th,
.status-table td {
    text-align: center;
    padding: 15px;
}

.status-table tbody tr:nth-child(even) {
    background: #f8f9fa;
}

.status-table tbody tr:hover {
    background: #e9ecef;
    transition: 0.3s ease;
}

.verified {
    color: green;
    font-weight: bold;
}

.pending {
    color: orange;
    font-weight: bold;
}

.cancel-btn {
    background: transparent;
    border: none;
    color: #dc3545;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cancel-btn:hover {
    color: #c82333;
    transform: scale(1.2);
}